#Ignores all types
*.*
backup_values.txt
token.pickle
credentials.json

#Except the next list
!*.abap
!*.abp
!*.ASC
!*.aspx
!*.axd
!*.bat
!*.c
!*.cap
!*.cer
!*.cfg
!*.conf
!*.config
!*.CSS
!*.css
!*.ctr
!*.d
!*.gitignore
!*.gitmodules
!*.HEAD
!*.HTM
!*.HTML
!*.info
!*.INI
!*.jar
!*.jbf
!*.js
!*.json
!*.lums
!*.lumx
!*.m
!*.markdown
!*.master
!*.md
!*.MHTML
!*.php
!*.plist
!*.prefs
!*.project
!*.properties
!*.py
!*.pyc
!*.resources
!*.server
!*.serverInfo
!*.setup
!*.sh
!*.sql
!*.swf
!*.swift
!*.TXT
!*.xmi
!*.XML
!*.yml
!*.yaml
!*.hbd*
